<div class="wky__body">
    <div class="wky__slider">
        
    </div>
    <div class="wky__ofrecemos">
       <div class="wky__container">
         <p class="wky__home_title">Te Ofrecemos</p>
         <div class="wky__categorias">
             <div class="wky__cate_left">
                 <div class="wky__cate cate__tall">
                     <a href=""> <img src="../../../assets/img/apicultura.jpg" alt=""></a>
                     <span>Apicultura</span>
                 </div>
             </div>
             <div class="wky__cate_right">
                 <div class="wky__cate_top">
                     <div class="wky__cate cate__small">
                         <a href=""> <img src="../../../assets/img/textileria.jpg" alt=""></a>
                         <span>Apicultura</span>
                     </div>
                     <div class="wky__cate cate__small">
                         <a href=""> <img src="../../../assets/img/cacao.jpeg" alt=""></a>
                         <span>Apicultura</span>
                     </div>
                 </div>
                 <div class="wky__cate_bottom">
                     <div class="wky__cate cate__large">
                         <a href=""> <img src="../../../assets/img/artesania.jpg" alt=""></a>
                         <span>Apicultura</span>
                     </div>

                     <div class="wky__cate cate__tall_small">
                         <a href=""> <img src="../../../assets/img/manualidades.png" alt=""></a>
                         <span>Apicultura</span>
                     </div>
                 </div>
             
             </div>
         </div>
       </div>
    </div>
    <div class="wky__nosotros">
        <div class="wky__container">
             <p class="wky__home_title">Sobre Nosotros</p>
             <div class="wky__WaKaYa">
                 <div class="wky__que">
                     <strong>¿Qué es WaKaYa?</strong>
                     <div>
                         Lorem ipsum dolor sit amet, consectetur
                         adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua.
                          adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua.

                     </div>
                 </div>
                 <div class="wky__porque">
                     <div class="wky__descripcion">
                        <p><strong>¿Por qué usar WaKaYa?</strong></p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                         dolore magna aliqua. 
                     </div>
                     <div>
                         <img src="../../../assets/img/Captura1.PNG" alt="">
                     </div>
                 </div>
                 <div class="wky__quien">
                    <div>
                         <img src="../../../assets/img/Captura2.PNG" alt="">
                     </div>
                     <div class="wky__descripcion">
                        <p><strong>¿A quién va dirigido es WaKaYa?</strong></p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                         dolore magna aliqua.  
                     </div>
                     
                 </div>  
             </div>
        </div>
    </div>
    <div class="wky__servicios">
        <div class="wky__container">
            <p class="wky__home_title">Servicios</p>
            <div class="wky__tresservicios">
                <div class="wky__service">
                  <img src="../../../assets/img/Captura1.PNG" alt="">
                  <p>Serivicio numero 1</p>
                   <ol class="lista">
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li> 
                   </ol>
                </div>
                <div class="wky__service">
                  <img src="../../../assets/img/Captura1.PNG" alt="">
                  <p>Serivicio numero 2</p>
                   <ol class="lista">
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                   </ol>
                </div>
                <div class="wky__service">
                  <img src="../../../assets/img/Captura1.PNG" alt="">
                  <p>Serivicio numero 3</p>
                   <ol class="lista">
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                     <li>Lorem ipsum dolor sit amet, holoa consectetur adipiscing elit </li>
                   </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="wky__juntos">
        <div class="wky__container">
             <p class="wky__home_title">Creamos WaKaYa Juntos</p>
             <div class="wky__tresjuntos">
                 <div class="wky__infouser">
                     <img src="../../../assets/img/cliente.jpg" alt="">
                     <p>Cliente</p>
                     <div>
                         So one last time I need to be
                         the one who takes you home
                         One more time I promise after
                         that, I'll let you go Baby I don't
                         care if you got her in your heart
                     </div>
                 </div>
                 <div class="wky__infouser">
                     <img src="../../../assets/img/productor.jpg" alt="">
                     <p>Productor</p>
                     <div>
                         So one last time I need to be
                         the one who takes you home
                         One more time I promise after
                         that, I'll let you go Baby I don't
                         care if you got her in your heart
                     </div>
                 </div>
                 <div class="wky__infouser">
                     <img src="../../../assets/img/organizacion.jpg" alt="">
                     <p>Organización</p>
                     <div>
                         So one last time I need to be
                         the one who takes you home
                         One more time I promise after
                         that, I'll let you go Baby I don't
                         care if you got her in your heart
                     </div>
                 </div>
             </div>
        </div>
    </div>
    <div class="wky__organizations">
         <div class="wky__container">
             <p class="wky__home_title">Organizaciones</p>
             <div class="wky__diezorganizations">
                 <div class="wky__row">
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                 </div>
                 <div class="wky__row">
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                     <div class="wky__organization">
                         <p>Organizacion 1</p>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    <div class="wky__footer">
         <div class="wky__container">
         </div>
    </div>
    <div class="wky__darkfooter">

    </div>
</div>