
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main>
    <app-breadcrumbs></app-breadcrumbs>
    <!-- <div class="wky__content"> -->
        <router-outlet></router-outlet>
    <!-- </div>  -->

    
  </main>

<!-- <div class="d-flex" id="wrapper">


    <app-sidebar></app-sidebar>

    <div id="page-content-wrapper">
        <app-header></app-header>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>


</div> -->


<!-- Bootstrap core JavaScript -->
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script> -->
