<!-- <header class="wky__header">
    <nav class="wky__icon_menu">
        <div>
            <a href="">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </nav>
    <nav class="wky__navbar">
        <div class="wky__nav_search">
            <div>
                <a href="">
                    <i class="fas fa-search"></i>
                </a>
                <span></span>
                <input type="text" placeholder="Buscar proudctos, organizacion y mas...">
                <a href="">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div>
            <a href="">
                <i class="fas fa-cart-plus"></i>
            </a>
        </div>
        <div>
            <a href="">
                <i class="fas fa-bell"></i>
            </a>
            <span class="wky__badge">2</span>
        </div>
        <div class="wky__nav_user">
            <img src="img/3.jpg" alt="">
            <span>Ciro Yupanqui</span>
        </div>
        <div>
            <a href="">
                <i class="fas fa-cog"></i>
            </a>
        </div>
    </nav>
</header> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <nav class="wky__icon_menu">
        <div>
            <a data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </nav>



    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <nav class="wky__navbar">
                <div class="wky__nav_search">
                    <div>
                        <a href="">
                            <i class="fas fa-search"></i>
                        </a>
                        <span></span>
                        <input type="text" placeholder="Buscar proudctos, organizacion y mas...">
                        <a href="">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="fas fa-bell"></i>
                    </a>
                    <span class="wky__badge">2</span>
                </div>
                <div class="wky__nav_user">
                    <img src="../../../assets/img/3.jpg" alt="">
                    <span>Ciro Yupanqui</span>
                </div>
                <div>
                    <a href="">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>
            </nav>
        </ul>
    </div>
</nav>