<div class="wky__content">
    <div class="wky__perfil_left">
        <div class="wky__content_imagen">
            <img src="../../../assets/img/3.jpg" alt="">
            <span>Cliente</span>
        </div>
        <div class="wky__comprasventas">
            <div>
                <p>0</p>
                <span>Compras</span>
            </div>
            <div></div>
            <div>
                <p>0</p>
                <span>Ventas</span>
            </div>
        </div>
        <ul class="wky__menu_perfil">
            <li class="wky__active"><a href="">Mi perfil</a></li>
            <li><a href="">Cuenta</a></li>
            <li><a href="">Tarjetas de credito</a></li>
            <li><a href="">Privacidad</a></li>
            <li><a href="">Notificaciones</a></li>
        </ul>
    </div>
    <div class="wky__perfil_right">
        <div class="wky__perfil_header">
            <div>
                <p>
                <strong>Mi perfil</strong>
                </p>
                <p>
                    Añade información sobre ti.
                </p>
            </div>
            <div>
                <div class="wky__card_button">
                   <div><a href=""><i class="fas fa-pencil-alt"></i></a></div>
                   <div>
                       <span>Editar</span>
                   </div>
                </div>
            </div>
        </div>
        <form class="wky__perfil_body">
            <div class="wky__perfil_img">
                <img src="../../../assets/img/3.jpg" alt="">
                <div class="wky__perfil_button">
                   <div><a href=""><i class="fas fa-camera"></i></a></div>
                   <div>
                       <span>Cambiar Foto</span>
                   </div>
                </div>
            </div>
            <div class="wky__perfil_datos">
                <div>
                    <label for="">Nombre(s)</label>
                    <input type="text" value="Ciro">
                </div>
                <div>
                    <label for="">Apellidos</label>
                    <input type="text" value="Yupanqui">
                </div>
                <div>
                    <label for="">Correo Elctrónico</label>
                    <input type="text" value="Ciriusblb@gmail.com">
                </div>
                <div>
                    <label for="">Dirección</label>
                    <input type="text" value="AA. HH. Alberto Fujimori">
                </div>
                <div>
                    <label for="">Teléfono(s)</label>
                    <input type="text" value="+51 915 079 067">
                    <input type="text" value="+51 955 719 894">
                </div>
                
            </div>
        </form>
    </div>
    
    
</div>