<div class="wky__top_bar">
    <div class="wky__container">
        <div class="wky__row">
            <div>
                <span>01 de Agosto del 2019</span>
            </div>
            <div>
                Puerto Maldonado Madre de Dios Perú
            </div>
            <div>
                <span>Siguenos en </span>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                <a href=""><i class="fab fa-google-plus"></i></a>
            </div>
        </div>
    </div>
</div>