<main class="">
  <!-- <div class="wky__space">

  </div> -->

    <div class="wky__content row">
        <div class="wky__big_card col-12">
            <div class="wky__card_body row">
                <section class="col-12 col-lg-8">
                    <div class="wky__images">
                        <div class="wky__small_images">
                            <a href=""><img src="img/descarga.jpg" alt=""></a>
                            <a href="" class="wky__active"><img src="img/descarga.jpg" alt=""></a>
                            <a href=""><img src="img/descarga.jpg" alt=""></a>
                            <a href=""><img src="img/descarga.jpg" alt=""></a>
                            <a href=""><img src="img/descarga.jpg" alt=""></a>
                        </div>
                        <div class="wky__big_image">
                            <img src="img/descarga.jpg" alt="">
                        </div>
                    </div>
                    <div class="wky__card_publicaciones">
                        <p class="wky__card_title">
                            Más Publicaciones de productos Relacionados
                        </p>
                        <div class="wky__publicaciones">
                            <div class="wky__card">
                                <div class="wky__card_body">
                                    <!-- <img src="img/descarga.jpg" alt=""> -->
                                    <ul>
                                        <li>
                                            <span class="wky__card_badge">-10%</span>
                                        </li>
                                        <li>
                                            <span class="wky__card_badge">Nuevo</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="wky__card__footer">
                                    <span class="wky__last_price">$ 69.00 </span>
                                    <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                                    <div class="wky__card_content">
                                        <p>Una breve descripcion acerca del producto expuesto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wky__card">
                                <div class="wky__card_body">
                                    <img src="img/descarga.jpg" alt="">
                                    <ul>
                                        <li>
                                            <span class="wky__card_badge">-10%</span>
                                        </li>
                                        <li>
                                            <span class="wky__card_badge">Nuevo</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="wky__card__footer">
                                    <span class="wky__last_price">$ 69.00 </span>
                                    <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                                    <div class="wky__card_content">
                                        <p>Una breve descripcion acerca del producto expuesto</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wky__card_button">
                            <div><a href=""><i class="far fa-eye"></i></a></div>
                            <div>
                                <span>Ver publicaciones</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="col-12 col-lg-4">
                    <div class="wky__big_dataproduct">
                        <ul>
                            <li>
                                <span class="wky__card_badge">-10%</span>
                            </li>
                            <li>
                                <span class="wky__card_badge">Nuevo</span>
                            </li>
                            <li>
                                <span class="wky__card_badge">Se agotan</span>
                            </li>
                        </ul>
                        <div class="wky__big_prices">
                            <span class="wky__big_price">{{product.price}}
                                <!-- <span class="wky__big_decimal">99</span> -->
                            </span>
                            <!-- <span class="wky__big_lastprice">
                                $ 69.00
                            </span> -->
                        </div>
                        <div class="wky__big_name">
                            {{product.name}}
                        </div>
                        <div class="wky__big_description">
                          {{product.description}}
                        </div>
                        <div class="wky__big_star">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <div class="wky__big_soldout">20 vendidos</div>
                        <div class="wky__big_available">
                            Disponibles: <strong>{{product.stock}}</strong>
                        </div>
                        <div class="wky__big_quantity">
                            cantidad: <strong>{{product.stock}} Unidad</strong>
                        </div>
                        <div class="wky__big_creditcards">
                            pagar con:
                            <img src="img/visa_PNG30.png" height="15px" alt="">
                        </div>
                        <div class="wky__big_button">
                            <div class="wky__cards_button">
                                <div>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="wky__text_button">
                                    Comprar
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>


    </div>
</main>
