* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
html {
  --white_0: #ffffff;
  --white_1: #fdfdfd;
  --white_2: #fafafa;
  --black_0: #000000;
  --gray_0: #cfcfcf;
  --gray_1: #f7f8fa;
  --gray_3: #707070;
  --orange_0: #f4511e;
  --blue_7: #007791;
  --blue_5: #2e3a4d;
  --blue_3: #373b65;
  --blue_0: #1193e9;
  --skyblue_0: #88c9f4;
  --yellow_0: #ffcb2b;
}

.wky__header {
  height: 50px;
  width: 100%;
  background: var(--white_0);
  box-shadow:0px 2px 4px var( --gray_3);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.wky__icon_menu {
      display: flex;
      height: 100%;
      margin-left: 250px;
}
.wky__icon_menu  div {
   display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;

}
.wky__navbar {
  display: flex;
  height: 100%;
}
.wky__navbar div{
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
}
.wky__navbar > div:first-child {
  flex-direction: row;
}
.wky__navbar div.wky__nav_search div {
  border: 1px solid var(--gray_0);
  padding: 8px;
  border-radius: 5px;
}
.wky__navbar div.wky__nav_search div a {
  color: var(--gray_0) !important;
}
.wky__navbar div.wky__nav_search div span {
  border: 0.5px solid var(--gray_0);
  height: 20px;
  margin: 0 5px;
}
.wky__navbar div.wky__nav_search div input {
  border: 0;
  margin: 0 10px;
  outline: 0;
  color: var(--gray_3);
  width: 400px;
}
.wky__navbar div.wky__nav_user img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wky__navbar div.wky__nav_user span {
  font-size: 15px;
}
.wky__navbar div a, .wky__icon_menu div a  {
  font-size: 20px;
  color: var(--blue_5);
}
.wky__navbar div .wky__badge {
  background: var(--orange_0);
  box-shadow: 0px 1px 2px var( --gray_3);
  color: var(--white_0);
  font-size: 12px;
  width: 13px;
  display:inline-block;
  padding-left:2px;
  padding-right:2px;
  text-align:center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}



/*-----------------------------------*/
.wky__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background: var(--white_0);
  height: 100vh;
  box-shadow:0px 2px 4px var( --gray_3);
   z-index: 2;
}
.wky__sidebar .wky__logo_name {
  height: 50px;
  background: var(--blue_5);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
.wky__sidebar .wky__logo_name img {
  width: 40px;
  height: 40px;
}
.wky__sidebar .wky__logo_name span {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 25px;
}
.wky__sidebar .wky__user {
  padding: 0px 5px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--gray_0);
}
.wky__sidebar .wky__user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wky__sidebar .wky__user span:first-child {
  font-size: 15px;
}
.wky__sidebar .wky__user span:last-child {
  font-size: 14px;
  position: absolute;
  right: 5px;;
}

.wky__sidebar .wky__menu {
  /*border: 1px solid yellow;*/
}
.wky__sidebar .wky__menu li {
  padding:  13px 5px;
  font-size: 15px;
}

/*_-----------------------------*/
main {
  background: var(--gray_1);
}

.wky__breadcrumbs {
  margin-top: 50px;
  margin-left: 250px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.wky__breadcrumbs ul li {
  list-style: none;
  display: inline-block;
  align-items: center;
  color: var(--gray_3);
  font-size: 15px;
}
.wky__breadcrumbs ul li:first-child {
  font-weight: bold;
}
.wky__breadcrumbs ul li:last-child {
  font-size: 14px;
}
.wky__breadcrumbs ul li span {
  margin-left: 5px;
  font-size: 14px;
}
.wky__breadcrumbs_blue {
  margin-left: 250px;
  background: var(--blue_0);
  padding: 5px;
}
.wky__breadcrumbs_blue div:first-child {
  text-align: center;
  padding: 10px 0 15px 0;
  border-bottom: 2px solid var(--skyblue_0);
}
.wky__breadcrumbs_blue div:first-child span {
  display: block;
  color: var(--white_0);
}
.wky__breadcrumbs_blue div:first-child span:first-child {
  font-size: 45px;
}
.wky__space {
  height: 100px;
}
/*---------------------*/
.wky__content {

}
.wky__big_card {
  width: 1000px;
  margin: auto;
  background: var(--white_0);
  box-shadow: 0px 2px 4px var(--gray_3);
  border-radius: 15px;
  position: relative;
  margin-top: 50px;
  border-bottom: 20px solid var(--orange_0);
}
.wky__card_body {
  display: flex;
}
.wky__big_card section:first-child {
  width: 650px;
}
.wky__images {
  border-right: 2px solid var(--skyblue_0);
  display: flex;
}
.wky__small_images {
  width: 100px;
  border-right: 2px solid var(--skyblue_0);
}
.wky__small_images a {
  display: block;
  text-align: center;
  border-bottom: 2px solid var(--skyblue_0);
}
.wky__small_images a.wky__active {
  border-left: 5px solid var(--blue_0);
}
.wky__small_images img {
  height: 100px;
}
.wky__big_image {
  width: 550px;
  border-bottom: 2px solid var(--skyblue_0);
  text-align: center;
}
.wky__big_image img {
  height: 100%;
}


/*--------------------------------------------------*/

.wky__card_title {
  text-align: center;
  padding: 10px;
  color: var(--blue_3);
  font-weight: bold;
}
.wky__card_button {
  padding: 5px;
  text-align: center;
}
.wky__card_button a {
  color: var(--white_0);
  font-size: 20px;
}
.wky__card_button div {
  margin-top: 5px;
}
.wky__card_button div:first-child {
  padding: 10px;
  width: 25px;
  margin: auto;
  border-radius: 50%;
  background: var(--blue_0);
  box-shadow: 0px 2px 4px var(--gray_3);
}
.wky__card_button div:last-child {
  position: relative;
}
.wky__card_button span {
  font-size: 14px;
  padding: 2px 5px;
  background: var(--blue_3);
  color: var(--white_0);
  border-radius: 5px;
}
.wky__card_button span:after {
  content: '';
  border: 5px solid transparent;
/*    border-left-color: var(--orange_0); */
  border-bottom-color: var(--blue_3);
  position: absolute;
  top: -10px;
  left: 49.5%;
  transition: all .3s ease-out;
}


.wky__card_publicaciones {
  border-right: 2px solid var(--skyblue_0);
/*    border-bottom: 2px solid var(--skyblue_0);*/

}
.wky__publicaciones {
  display: flex;
  justify-content: space-around;
}
.wky__card {
  width: 180px;
  height: 250px;
  background: var(--white_0);
  border: 1px solid var(--gray_0);
  border-radius: 10px;
  border-bottom: 10px solid var(--orange_0);
}
.wky__card .wky__card_body {
  text-align: center;
  position: relative;
  border-bottom: 2px solid var(--skyblue_0);

}
.wky__card .wky__card_body img {
  height: 150px;
  margin:auto;
}

.wky__card_body ul {
  position: absolute;
  list-style: none;
  top: 0;
  right: -10px;
  text-align: center;
}
.wky__card_body ul li:first-child{
  background: var(--yellow_0);
  color: var(--white_0);
  font-size: 14px;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px var(--gray_0);
}
.wky__card_body ul li:first-child:after {
  content: '';
  border: 5px solid transparent;
  border-left-color: var(--yellow_0);
  border-top-color: var(--yellow_0);
  position: absolute;
  bottom: -6px;
  right: -0px;
  transition: all .3s ease-out;
}
.wky__card_body ul li:nth-child(2){
  background: var(--orange_0);
  color: var(--white_0);
  font-size: 14px;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px var(--gray_0);
}
.wky__card_body ul li:nth-child(2):after {
  content: '';
  border: 5px solid transparent;
  border-left-color: var(--orange_0);
  border-top-color: var(--orange_0);
  position: absolute;
  bottom: -6px;
  right: 0;
  transition: all .3s ease-out;
}
.wky__card_body ul li:last-child{
  background: var(--blue_7);
  color: var(--white_0);
  font-size: 14px;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px var(--gray_0);
}
.wky__card_body ul li:last-child:after {
  content: '';
  border: 5px solid transparent;
  border-left-color: var(--blue_7);
  border-top-color: var(--blue_7);
  position: absolute;
  bottom: -6px;
  right: -0px;
  transition: all .3s ease-out;
}

.wky__card__footer {
  padding: 5px;
  position: relative;
}
.wky__last_price {
  font-size: 13px;
  color: var(--gray_3);
  position:absolute;
  top: -30px;
  left: 0;
}
.wky__price {
  border-radius: 20px;
  padding: 3px;
  position: absolute;
  top: -15px;
  background: var(--white_0);
  font-weight: bold;
  color: var(--orange_0);
  font-size: 18px;
}
.wky__decimal {
  font-size: 11px;
  position: relative;
  top: 0;
  font-weight: normal;
}
.wky__card_content {
  margin-top: 10px;
}
.wky__card_content p {
  font-size: 13px;
  color: var(--gray_3);
}



.wky__big_card section:last-child {
  width: 350px;
}
.wky__big_dataproduct {
  border-bottom: 2px solid var(--skyblue_0);
  padding: 15px;
}
.wky__big_dataproduct .wky__big_prices {
  display: flex;
  width: 250px;
}
.wky__big_dataproduct .wky__big_price {
  font-weight: bold;
  font-size: 40px;
  color: var(--orange_0);
}
.wky__big_dataproduct .wky__big_decimal {
  font-weight: normal;
  font-size: 20px;
  vertical-align: super;
}
.wky__big_dataproduct .wky__big_lastprice {
  font-size: 20px;
  color: var(--gray_3);
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.wky__big_dataproduct .wky__big_name {
  width: 250px;
  font-weight: bold;
  color: var(--blue_5);
  font-size: 25px;
}
.wky__big_dataproduct > div {
  font-size: 14px;
  padding: 5px 0px;

}
.wky__big_dataproduct .wky__big_description {
  color: var(--gray_3);

}
.wky__big_dataproduct .wky__big_star {
  color: var(--yellow_0);
}



.wky__big_button {
  display: flex;
  justify-content: space-around;
}
.wky__cards_button {
  display: flex;
  border: 2px solid var(--blue_0);
  border-radius: 30px;

}
.wky__cards_button a {
  color: var(--white_0);
  font-size: 20px;
}
.wky__cards_button div:first-child {
  padding: 10px;
  width: 25px;
  border-radius: 50%;
  background: var(--blue_0);
  box-shadow: 0px 2px 4px var(--gray_3);
}
.wky__cards_button div:last-child {
  position: relative;
}
.wky__cards_button .wky__text_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--blue_0);
  padding: 10px 20px 10px 10px;
}
