<div class="wky__breadcrumbs">
  <ul>
      <li>
          Dashboard 
          <span><i class="fas fa-chevron-right"></i></span>
      </li>
      <li>
          Categoria
          <span><i class="fas fa-chevron-right"></i></span>
      </li>
      <li>Subcategoria</li>
  </ul>
</div>
<div class="wky__breadcrumbs_blue">
  <div class="wky__title_blue">
      <span>Productos</span>
      <span>5456 resultados</span>
  </div>
  <div>
      <div class="wky__pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
  </div>
  </div>
</div>