.wky__breadcrumbs {
    margin-top: 50px;
    margin-left: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.wky__breadcrumbs ul li {
    list-style: none;
    display: inline-block;
    align-items: center;
    color: var(--gray_3);
    font-size: 15px;
}
.wky__breadcrumbs ul li:first-child {
    font-weight: bold;
}
.wky__breadcrumbs ul li:last-child {
    font-size: 14px;
}
.wky__breadcrumbs ul li span {
    margin-left: 5px;
    font-size: 14px;
}
.wky__breadcrumbs_blue {
    margin-left: 250px;
    background: var(--blue_0);
    padding: 5px;
}
.wky__breadcrumbs_blue div:first-child {
    text-align: center;
    padding: 10px 0 15px 0;
    border-bottom: 2px solid var(--skyblue_0);
}
.wky__breadcrumbs_blue div:first-child span {
    display: block;
    color: var(--white_0);
}
.wky__breadcrumbs_blue div:first-child span:first-child {
    font-size: 45px;
}
.wky__space {
    height: 100px;
}



/*--------------RESPONSIVE-------------------------*/


@media only screen and (max-width: 768px)  {

    
    .wky__breadcrumbs {
        margin-left: 50px;
    }
    .wky__breadcrumbs_blue {
        margin-left: 50px;
    }
}
