/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
* {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
html {
    --white_0: #ffffff;
    --white_1: #fdfdfd;
    --white_2: #fafafa;
    --black_0: #000000;
    --gray_0: #cfcfcf;
    --gray_1: #f7f8fa;
    --gray_3: #707070;
    --orange_0: #f4511e;
    --blue_7: #007791;
    --blue_5: #2e3a4d;
    --blue_3: #373b65;
    --blue_0: #1193e9;
    --skyblue_0: #88c9f4;
    --yellow_0: #ffcb2b;
    --skygreen_0: #defcde;
    /* --skyblue_0: #c6e9f1; */
    --pink_0: #fcdbd1;
    --skygreen_3: #22d095;
    --darkgreen_3: #47846f;
    --red_5: #c93507;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(0,0,0,0);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--orange_0);
}
main {
    background: var(--gray_1);
}

.wky__container {
    max-width: 1100px;
    margin: auto;
}
.wky__pages {
    background: var(--gray_1);
}
.wky__row {
    display: block;
    display: flex;
    justify-content: space-between;
}
.wky__row div:last-child a {
    color: var(--black_0);
    font-size: 18px;
}




/*--------------RESPONSIVE-------------------------*/
@media only screen and (max-width: 768px) { /* For tablets: */
    .wky__container {
        max-width: 700px;
    }
    
    
}
@media only screen and (max-width: 576px) { /* For movil: */

    .wky__container {
        max-width: 500px;
    }
}

