<div class="row">
    <div class="wky__card_left col-lg-2 col-12">

        <div class="funkyradio">
            <div *ngFor="let c of categories" class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="{{c._id}}" (click)="filterByCategorie(c.description)"/>
                <label for="{{c._id}}"> {{c.description}}</label>
            </div>

        </div>


    </div>
    <div class="wky__cards_right col-lg-9 col-12">
        <div class="wky__row row">

          <div class="wky__card col-lg-4 col-md-6 col-12" *ngFor="let p of productos">
              <div class="wky__card_body">
                  <img src="../../../assets/img/descarga.jpg" alt="">
                  <ul>
                      <li>
                          <span class="wky__card_badge">-10%</span>
                      </li>
                      <li>
                          <span class="wky__card_badge">Nuevo</span>
                      </li>
                  </ul>
              </div>
              <div class="wky__card__footer">
                  <!-- <span class="wky__last_price"> {{p.price}} </span> -->
                  <span class="wky__price"> {{p.price}}</span>
                  <div class="wky__card_content">
                    <a [routerLink]="['../producto/5875877']"><p>{{ p.description}}</p></a>
                    <p>{{ p.categories}}</p>
                    <p class="wky__card_stars">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                    </p>
                </div>
                <div class="wky__card_buttons">
                    <div><a ><i class="fas fa-star"></i></a></div>
                    <!-- <div><a href=""><i class="fas fa-plus"></i></a></div> -->
                    <!-- <div><a href=""><i class="fas fa-check"></i></a></div> -->
                </div>
              </div>
          </div>

        </div>
    </div>
</div>
